<h1 class="page-title title">Register</h1>

<form class="form" action="/register" method="post">
    <div class="fields">
        <div class="control">
            <input type="text" class="input" name="name" placeholder="Name">
        </div>
        <div class="control">
            <input type="text" class="input" name="surname" placeholder="Surname">
        </div>
    </div>
    <div class="field">
        <input type="email" class="input" name="email" placeholder="Email">
    </div>
    <div class="field">
        <input type="phone" class="input" name="phone" placeholder="Phone">
    </div>
    <div class="field">
        <input type="password" class="input" name="password" placeholder="Password">
    </div>
    <div class="field field_center field_footer">
        <button class="button">Register</button>
    </div>
</form>